.results {
    margin-top: 20px;
}

.result-bar {
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.result-bar:hover {
    background-color: #e0e0e0; /* Altera a cor ao passar o mouse */
}

.option-title {
    flex: 1;
    margin-right: 10px;
}

.progress {
    height: 20px;
    border-radius: 5px;
    transition: width 0.5s;
}

.percentage {
    margin-left: 10px;
}
