.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Centraliza a container na página */
}

.voting-envelope {
    flex: 0 0 60%; /* Largura da enquete */
}

.vote-summary {
    flex: 0 0 30%; /* Largura do resumo de votos */
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.summary-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.summary-item img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px;
}
